.left-box {
    /*background-color: #ff0000;*/
}

.middle-box {
    /*background-color: #0000ff;*/
}

.right-box {
    /*background-color: #00ff00;*/
}

.conflict-radio {
    background-color: #990000;
    padding: 2px;
    border-radius: 0;
}
.conflict-frame {
    border: 1px solid #990000;
    border-radius: 0;
    padding: 0;
}
