.left-box {
    /*background-color: #ff0000;*/
}

.middle-box {
    /*background-color: #0000ff;*/
}

.right-box {
    /*background-color: #00ff00;*/
}

.inline-label {
    background-color: #2d5986;
    color: white;
    padding: 4px 8px;
    font-size: 0.85em;
    font-weight: bold;
    min-width: 500px;
}
